*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1, h2{
    font-family: 'Young serif', Georgia, 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
    width: 100%;
}

img{
    width: 100%;
    height: auto;
}