*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

h1, h2{
    font-family: 'Young serif', Georgia, 'Times New Roman', Times, serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: hsl(30, 54%, 90%);
}

.wrapper{
    display: grid;
    place-items: center;

    @media (width >= 1100px){
    padding:  8rem 0;
    }
}

.recipe{
    background-color: hsl(0, 0%, 100%);
    @media (width >= 68.75rem) {
        max-width: 50rem;
        border-radius: 15px;
        padding: 33px;
    }
}

.omelette-image{
    width: 100%;
    height: auto;

    @media (width >= 68.75rem) {
        border-radius: 10px;
    }
}